{% extends 'main.html'%}

{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <h5>Client</h5>
            <br>
            <a class=" btn btn-info btn-block">Modiflier client</a>
            <hr>
            <a class=" btn btn-danger btn-block">Supprimer client</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h5>Informations</h5>
            <hr>
            <p>nom : {{client.nom}}</p>
            <br>
            <p>telephone : {{client.telephone}}</p>
        </div>
    </div>
    <div class="col-md">
    	<div class="card card-body">
    		<h5>Total des commandes</h5>
		    <hr>
		    <h1 style="text-align: center;padding: 10px">{{commande_total}}<h1>
        </div>
    </div>
</div>
<br>
<div class="row">
    <a class="btn btn-info btn-clock">search</a>
</div>
<br>
<div class="row">
    <div class="card card-body">
        <table class="table-sm">
            <tr>
                <th>Produit</th>
                <th>Date commande</th>
                <th>Status</th>

            </tr>
            {% for commande in commande %}
            <tr>
                <th>{{commande.produit}}</th>
                <th>{{commande.date_creation}}</th>
                <th>{{commande.status}}</th>


            </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock%}